.bg-img2 {
    background-image: url(../assets/fitness.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.float-card {
    margin-top: -125px;
    background: hsla(0, 0%, 100%, 0.85);
    backdrop-filter: blur(30px);

}

.card {
    max-width: 60rem;
}