/* all pages */

@media (max-width: 992px) { 
    .mt-10{
        margin-top: 150px;
        padding-top: 1px;
    } 
}

/*==================== Footer */
.icon {
    height: 40px;
    width: 50px;
    margin-right: 10px;
}

.col-md-4 .FooterFa {
    margin-right: 30px;
}

/*==================== login page */
.login-bg-img {
    background-image: url(../assets/Img/Login/Simeon-Panda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


/* ===============Register page */
.Regester-bg-img {
    background-image: url(../assets/Img/Registration/Girl-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

/* ===============UpdateForm page */
.UpdateForm-bg-img {
    background-image: url(../assets/Img/Admin/Hybrid-gym.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

.float-card {
    margin-top: -425px;
    background: hsla(0, 0%, 100%, 0.85);
    backdrop-filter: blur(30px);
    max-width: 50rem;

}

/* =======BMI Call Page */
.Bmi-bg-color {
    background-color: #314b56;
}

/* ===== Home Page ====== */
#HomeFeatures {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
        url(../assets/Img/HomeImg/couple-fitness.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.HomeWelcome {
    margin-top: -140px;
    
}
.HomeWelcome-color {
   
    background-color: #d1cbcb;
}

.HomeTestimonialsImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: -30px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}

.testimonialsSpan {
    color: #013f7e;
    font-weight: 600;
    font-size: 16px;
}

.review {
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

.review .bi-twitter {
    color: #013f7e;
}

.home-bg-img {
    margin-top: 100px;
    padding: 150px 0px ;
    background-image: url(../assets/Img/HomeImg/Header.jpg);
    /* background-position: center; */
    background-position-y:0px 1000px;
    background-repeat: no-repeat;
    background-size: cover;
     font-family: "PT Sans", sans-serif;
     box-sizing: border-box;
}

.services {
    background-color: #d1cbcb;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .details {
    background-color: #d8d8d8;
    /* background-color: #d1cbcb; */
    /* padding-top: 80px;
    padding-bottom: 80px; */
  }

/* ===== Order Page ====== */
.text-orange{
    color: #ff7315;
}

/* =================post */
.post-img{
    width: 60px; height: 60px;
}

/* =================profile */
.profile-img{
    width: 250px; height: 250px;
}

/* ============================= another */
.mt-10 {
    margin-top: 160px;
  }


  .col-md-2 {
    padding: 20px;
  }
  .p {
    padding: 5px;
  }
  .fa {
    height: 50px;
    width: 50px;
  }

